html{
    background-color: #ffffff;
}

header {
    background-color: #fff;
    margin: auto;

}

body {
    background-color: #e9e9e9;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    text-align: justify;
    color: #151515;
    text-indent: justify;
    padding: auto;
}

#menu ul {
    padding:0px;
    margin:0px;
    text-align: center;
    list-style:none;
}

#menu ul li {
    display: inline;
}

a {
    text-decoration: none;
    color: #151515;
}
main {
    font-size: 20px;
}

img {
    display: grid;
}
.titulo {
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    text-align: left;
    color: #fc4c02;
    margin-bottom: 0px;
    padding: auto;
}
h1 {
    font-size: 20px;
    text-align: center;
}
.ficha h1 {
    color: black;

}

hr {
    background-color: #151515;
    box-shadow: 1px 1px 5px #151515;
}
nav {

    display: inline;
}

img {
    display: inline;
    padding: 10px;
    margin: 10px;
    min-width: 450px;

}

aside {
    text-align: justify;
}

footer {
    text-align: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

footer ul li {
    display: inline-block;
}