html{
    background-color: #fc5200;
}

body {
    background-color: #fc5200
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    text-shadow: 5px 3px 5px black;
    text-align: justify;
    color: #fff;
    text-indent: justify;
    border-radius: 5%;
    box-shadow: 5px 5px 5px black;
    padding: 10px;
}

#menu ul {
    padding:0px;
    margin:0px;
    text-align: center;
    list-style:none;
}

#menu ul li {
    display: inline;
}

a {
    text-decoration: none;
    color: #fff;
}
main {
    font-size: 20px;
}

img {
    display: grid;
}
.titulo {
    font-size: 60px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    text-shadow: 3px 3px 3px black;
    color: #fff;
    margin-bottom: 0px;
    padding: 1px;
}
h1 {
    font-size: 20px;
    text-align: center;
}
.ficha h1 {
    color: black;

}

hr {
    color: #fc4c02;
    width: 100%;
}
nav {

    display: inline;
}

img {
    display: inline;
    padding: 10px;
    margin: 10px;
    min-width: 450px;

}

aside {
    text-align: justify;
}

footer {
    text-align: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

footer ul li {
    display: inline-block;
}