#menu ul {
    padding:0px;
    margin:0px;
    text-align: center;
    list-style:none;
}

#menu ul li {
    display: inline;
}

a {
    text-decoration: none;
    color: #fff;
}
main {
    font-size: 20px;
}
body {
    background-color: #fc4c02;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    color: #fff;
    text-indent: justify;
}
img {
    display: grid;
}
.titulo {
    font-size: 60px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    text-shadow: 3px 3px 3px black;
    color: #fff;
    margin-bottom: 0px;
    padding: 1px;
}
h1 {
    font-size: 20px;
    text-align: center;
}
#ficha h1 {
    text-align: left;

}

footer {
    text-align: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

footer ul li {
    display: inline;
}
hr {
    color: #fff;
    width: 100%;
}
nav {

    display: inline;
}

img {
    padding: 10px;
    margin: 10px;
}